<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="static/img/avatar.png">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,530;1,530&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Chatbot</title>
</head>
<body>
  <div class="header">
    <div class="logo-text-container">
      <img src="static/img/logo.png" alt="Logo">
      <div class="service">Сервис совместного<br>управления</div>
    </div>
    <div class="buttons">
      <button class="download">Скачать приложение</button>
      <button class="cabinet">Личный кабинет</button>
    </div>
  </div>
  <div class="nav">
    <span>Главная страница</span>
    <span>Ремонт и работы</span>
    <span>Мои сообщения</span>
    <span>Обновления</span>
    <span>Новости</span>
    <span>Цифровые данные</span>
  </div>
  <div class="chat-container" id="chatContainer">
  </div>
  <div class="input-container">
    <input type="text" id="userInput" placeholder="Сообщение...">
    <button onclick="sendMessage()">
      <img src="static/img/direct.png" alt="Send">
    </button>
  </div>
  <script src="static/script.js"></script>
</body>
</html>